body * {
        vertical-align: top;
}

body {
        padding: 0;
        margin: 0;
        font-family: 'Didact Gothic', sans-serif; 
}

.container {
        margin: 0 auto;
        width: 960px;
        position: relative;
}

/*
Header
*/

.header {
        margin: 0 auto;
        background: url("SliceHeader.png") repeat-x top left;
        height: 60px;          
}

.header img {
        height: 33px;
        margin: 14px auto;
}

.links {    
    color: white;
    list-style-type: none;
    display: inline-block;
    margin-top: 18px;
}

.links li {
        display: inline-block;
        margin-left: 20px;
}

.rightthing {
        display: inline-block;
        padding-top: 20px;
        position: absolute;
        right: 0;
        margin-top: -9px;
}

img.brucepic {
        border-radius: 50px;
        margin-top: 2px;
}

span.johndoe {
        color: white;
        margin-top: 10px;
        line-height: 34px;
}

img.arrow {
        width: 16px;
        height: 14px;
        margin-top: 12px;
}


/*
TAGLINE
*/


.tagline {
        margin: 0 auto;
        background-color: white;
        height: 90px;
}

h2 {
        font-size: 28px;
        color: rgb(50,50,50);
        margin: 0;
        padding-top: 22px;
}

/*BIG BERTHA*/

.tanbackground {
    background: rgb(239,236,231);
    height: 580px;
}

/*LEFT COLUMN*/

.leftcolumn {
        padding-top: 30px;
        width: 622px;
        height: 580px;
        display: inline-block;
}


.u2pic {
    width: 622px;
    height: 400px;
    background-image: url("u2concert3.jpg")
}

.banner {
        background: rgba(17,17,17,0.5);
        width: 100%;
        height: 57px;
        color: white;
}

.ribbon {
    display: block;
    position: relative;
    top: -98px;
    height: 30px;
    left: -8px;
    width: 156px;
    background: #f9ce41;
        }
        
.mobmessage {
    color: white;
    font-size: 15px;
    padding-left: 25px;
    padding-top: 5px;
    text-shadow: rgb(216, 169, 0) 0 2px;
}


    .ribbon:before, .ribbon:after {
    content: '';
    display: block;
    position: absolute;
    border-style: solid;
    }
    
    .ribbon:before {
    display: block;
    left: 0;
    top: 30px;
    border-width: 4px;
    border-color: #f9ce41 #f9ce41 transparent transparent;
    }
    
    .ribbon:after {
    display: none;
    right: 0;
    top: 30px;
    border-width: 4px;
    border-color: #f9ce41 transparent transparent #f9ce41;
    }
    

span.u2worldtour {
        color: white;
        position: relative;
        line-height: 50px;
        font-size: 24px;
        padding-left: 20px;
}

span.time {
        color: white;
        right: 0;
        position: absolute;        
        margin-right: 400px;
        line-height: 52px;
        font-size: 15px;
}

.boxunderu2 {
        width: 100%;
        background-color: rgb(197,194,186);
        height: 85px;
        margin-top: 315px;
}

h3 {
    color: rgb(60,60,60);
    text-align: left;
    font-size: 18px;
    margin-left: 19px;
    padding-top: 22px;
    font-style: italic;
}

.footnote {
    color: rgb(101, 101, 101);
    font-size: 12px;
    margin-left: 25px;
    margin-top: -17px;
    width: 520px;
    text-shadow: rgb(90, 90,90) 15 25px;
}



/*RIGHT COLUMN*/


.rightcolumn {
    padding-top: 30px;
    margin-left: 25px;
    width: 300px;
    height: 580px;
    display: inline-block;
}

.leftbox {
        width: 140px;
        height: 152px;
        background-color: rgb(197,194,186);
        display: inline-block;
}

.leftboxnumber {
        color: white;
        text-align: center;
        font-size: 70px;
        margin-top: 25px;
        margin-right: 5px;
        text-shadow: rgb(167, 159, 147) 0 2px;
}

.mobbersleftbox {
        background-color: rgb(166,158,145);
        height: 36px;
        line-height: 36px;
        color: rgb(60,60,60);
        font-size: 14px;
        text-align: center;
        margin-top: 9px;
        text-shadow: white 0 2px;
        text-shadow: rgb(208, 205, 197) 0 1px;
}

.rightbox {
        width: 140px;
        height: 152px;
        background-color: rgb(197,194,186);
        display: inline-block;
        margin-left: 16px;
}

.mobbersrightbox {
        background-color: rgb(166,158,145);
        height: 36px;
        line-height: 36px;
        color: rgb(60,60,60);
        font-size: 14px;
        text-align: center;
        margin-top: 9px;
        text-shadow: rgb(208, 205, 197) 0 1px;
}


.rightboxnumber {
        color: white;
        text-align: center;
        font-size: 70px;
        margin-top: 25px;
        margin-right: 5px;
        text-shadow: rgb(167, 159, 147) 0 2px;
}

.joinbutton {
        color: white;
        margin-top: 30px;
        border: 1px rgb(185,129,0);
        font-size: 22px;
        text-align: center;
        position: relative;
        height: 60px;
        line-height: 60px;
        border-radius: 4px;
        box-shadow: inset 0 1px 1px white;
        border: 1px solid rgb(218, 150, 21);

        background: #fed800; /* Old browsers */
        background: -moz-linear-gradient(top,  #fed800 0%, #e49600 100%, #e49600 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fed800), color-stop(100%,#e49600), color-stop(100%,#e49600)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #fed800 0%,#e49600 100%,#e49600 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #fed800 0%,#e49600 100%,#e49600 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #fed800 0%,#e49600 100%,#e49600 100%); /* IE10+ */
        background: linear-gradient(to bottom,  #fed800 0%,#e49600 100%,#e49600 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fed800', endColorstr='#e49600',GradientType=0 ); /* IE6-9 */

}

.yourrewardbanner {
    width: 290px;
    height: 105px;
    background: white;
    margin-left: 4px;
    margin-top: -22px;
    border: 1px solid rgb(162,162,162);
    border-radius: 8px;
}

.yourrewardbanner img {
    display: inline-block;
    margin-top: 30px;
    margin-left: 10px;
    position: relative;
}

.yourrewardbanner h4 {
    font-size: 17px;
    color:  rgb(50,50,50);
    margin-top: -56px;
    margin-left: 56px;
    font-weight: bold;
}

.yourrewardbanner p {
    font-size: 13px;
    color:  rgb(110,110,110);
    margin-left: 56px;
    margin-top: -15px;
}

.footnoteright {
    color: rgb(101, 101, 101);
    font-size: 12px;
    margin-left: 3px;
    margin-top: 34px;
    text-align: center;
    width: 100%;
    text-shadow: rgb(90, 90,90) 15 25px;
    border-bottom: 1px solid rgb(170, 165, 165);
    padding-bottom: 15px;
}

.yourrewardbanner .socialmedia {
    margin-left: -11px;
}

/* THIRD ROW*/

.thirdrowbackground {
     background: white;
     height: 610px;
}

.jcrewcontainer {
    width: 302px;
    height: 268px;
    display: inline-block;

}

.jCrew {
        display: inline-block;
        width: 302px;
        height: 192px;
        background-image: url("Jcrew.png");
        margin-top: 40px;
}

.jcrewfootnote {
    display: block;
}

.jcrewfootnote .title{
    font-size: 16px;
    font-style: bold;
    color: rgb(73,73,72);
}

.jcrewfootnote span {
    font-size: 12px;
    display: block;
    color: rgb(101, 101, 101);
}

.jcrewfootnote, .leftfootnotetime {
    display: inline-block;
    font-size: 12px;
}

.leftfootnotetime {
    margin-left: 76px;
    margin-top: 3px;
}


.foodcontainer {
    width: 302px;
    height: 295px;
    display: inline-block;
    margin-left: 23px;
}


.food {
        display: inline-block;
        width: 302px;
        height: 192px;
        background-image: url("Food.png");
        margin-top: 40px;
}

.foodfootnote {
    display: block;
}

.foodfootnote .title{
    font-size: 16px;
    font-style: bold;
    color: rgb(73,73,72);
    text-align: left;
}

.foodfootnote span {
    font-size: 12px;
    display: block;
    color: rgb(101, 101, 101);
}

.foodfootnote, .leftfootnotetime {
    display: inline-block;
    font-size: 12px;
}

.leftfootnotetime {
    margin-left: 65px;
}




.haircontainer {
    width: 302px;
    height: 295px;
    display: inline-block;
    margin-left: 23px;
}


.hair {
        display: inline-block;
        width: 301px;
        height: 192px;
        background-image: url("Hair.png");
        margin-top: 40px;   
}

.hairfootnote {
    display: block;
}

.hairfootnote .title{
    font-size: 16px;
    font-style: bold;
    color: rgb(73,73,72);
    text-align: left;
}

.hairfootnote span {
    font-size: 12px;
    display: block;
    color: rgb(101, 101, 101);
}

.hairfootnote, .leftfootnotetime {
    display: inline-block;
    font-size: 12px;
}

/* LINE */

.line {
    width: 960px;
    border-bottom: 1px solid rgb(170, 165, 165);
    margin-top: 35px;
}

/* TABLE */

.tablecontainer {
    width: 635;
    display: inline-block;
}

h5 {
    font-size: 24px;
    font-style: bold;
    color: rgb(73,73,72);
    margin-top: 15px;
}

table {
    border-spacing: 0px 15px;
    border-collapse: separate;
    margin-top: -30px;
}

.firstrow td {
    border-bottom: 1px solid rgb(170, 165, 165);
    border-spacing: 0;
     padding-bottom: 15px;
    line-height: 0px;
}

tr {
    border-spacing: 0px;
}

.secondrow td {
    border-bottom: 1px solid rgb(170, 165, 165);
    padding-bottom: 15px;
    line-height: 0px;  
}

.thirdrow td {
    border-bottom: 1px solid rgb(170, 165, 165);
    padding-bottom: 15px;
    line-height: 0px;
}
.fourthrow td {
    padding-bottom: 15px;
    line-height: 0px;
}

.firstcolumn {
    color: rgb(43, 41, 41);
    font-style: bold;
    padding-bottom: 15px;
    line-height: 0px;
}

.secondcolumn {
    padding-left: 80px;
    color: rgb(44,46,46);
    font-size: 14px;
    padding-bottom: 8px;
}

.thirdcolumn {
    color: rgb(101, 101, 101);
    font-size: 12px;
    padding-left: 80px;
    padding-bottom: 8px;
}








/* START A MOB BOX */

.startamob-box {
    width: 301px;
    height: 200px;
    background-color: rgb(197,194,186);
    display: inline-block;
    margin-left: 60px;
    margin-top: 22px;
    padding-top: 10px;
}

.start-mob {
    color: white;
    font-size: 24px;
    margin-top: 19px;
    margin-left: 42px;
    text-shadow: rgb(134, 131, 126) 0 2px;
}

.startamob-button {
    background-color: rgb(215,213, 208);
    width: 278px;
    height: 62px;
    border: 1px solid rgb(117, 117, 112);
    border-radius: 4px;
    margin-left: 11px;
    margin-top: 57px;
    box-shadow: inset 0 1px 1px white;
}

.startamob {
    color: rgb(22,107,166);
    padding-top: 13px;
    margin-left: -20px;
    font-size: 24px;
    text-align: center;
    text-shadow: white 0 2px;
}

.one-button {
    border-radius: 50px;
    display: inline-block;
    width: 40px;
    height: 40px;
    color: rgb(101,101,101);
    background-color: rgb(228,228,228);
    text-align: center;
    line-height: 32px;
    margin-left: -51px;
    font-size: 22px;
    background: #dddddd; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  #dddddd 0%, #fbfbfb 99%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#dddddd), color-stop(99%,#fbfbfb)); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  #dddddd 0%,#fbfbfb 99%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  #dddddd 0%,#fbfbfb 99%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  #dddddd 0%,#fbfbfb 99%); /* IE10+ */
background: radial-gradient(ellipse at center,  #dddddd 0%,#fbfbfb 99%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dddddd', endColorstr='#fbfbfb',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

 box-shadow: inset 0 1px 1px white;
 border: 1px solid rgb(117, 117, 112);
}

.two-button {
   display: inline-block;
   width: 40px;
   height: 40px;
   background-color: rgb(228,228,228);
   color: rgb(101,101,101);
   border-radius: 50px;
   text-align: center;
   line-height: 32px;
   margin-left: 52px;
   font-size: 22px;
    background: #dddddd; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  #dddddd 0%, #fbfbfb 99%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#dddddd), color-stop(99%,#fbfbfb)); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  #dddddd 0%,#fbfbfb 99%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  #dddddd 0%,#fbfbfb 99%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  #dddddd 0%,#fbfbfb 99%); /* IE10+ */
background: radial-gradient(ellipse at center,  #dddddd 0%,#fbfbfb 99%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dddddd', endColorstr='#fbfbfb',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

 box-shadow: inset 0 1px 1px white;
 border: 1px solid rgb(117, 117, 112);
}

.three-button {
    display: inline-block;
    width: 40px;
    height: 40px;
    color: rgb(101,101,101);
    background-color: rgb(228,228,228);
    border-radius: 50px;
    text-align: center;
    line-height: 32px; 
    margin-left: 52px;
    font-size: 22px;
    background: #dddddd; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  #dddddd 0%, #fbfbfb 99%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#dddddd), color-stop(99%,#fbfbfb)); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  #dddddd 0%,#fbfbfb 99%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  #dddddd 0%,#fbfbfb 99%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  #dddddd 0%,#fbfbfb 99%); /* IE10+ */
background: radial-gradient(ellipse at center,  #dddddd 0%,#fbfbfb 99%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dddddd', endColorstr='#fbfbfb',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

 box-shadow: inset 0 1px 1px white;
 border: 1px solid rgb(117, 117, 112);
}


.uno-dos-tres {
   width: 264px;
   height: 0px;
   display: inline-block;
   position: absolute;
   margin-left: -173px;
   margin-top: 36px;
}

.line-behind-numbers {
    width: 210px;
    height: 10px;
    background-color: rgb(175,173,165);
    margin-top: -58px;
    margin-left: 35px;
}

.number-footnotes {
    margin-left: 41px;
    margin-top: 46px;
}

.upload-mob-image {
    display: inline-block;
    font-size: 12px;
    margin-left: -27px;
    text-align: center;
}

.write-a-message {
    display: inline-block;
    font-size: 12px;
    margin-left: 30px;
}

.upload-mob-reward {
    display: inline-block;
    font-size: 12px;
    margin-left: 30px;
    text-align: center;
}


/*FOOTER*/

/* FOOTER LEFT COLUMN*/



.footer {
        background-color: rgb(85,85,84);
        height: 340px;
         
}

.footer-leftcolumn {
    width: 303px;
    height: 277px;
    display: inline-block;
    margin-top: 30px;
}

.mobcategories {
    text-shadow: rgb(36, 34, 30) 0 2px;
    color: white;
    font-size: 19px;
    margin-bottom: 12px;
}

.left-categories {
    display: inline-block;
}




.buttons-categories {
    background-color: rgb(80,80,79);
    display: block;
    width: 140px;
    height: 30px;
    border: 1px solid rgb(53, 48, 48);
    text-align: center;
    margin-top: 10px;
    padding-top: 8px;
    border-radius: 5px;
    box-shadow: inset 0 1px 1px white;
    color: white;
    text-shadow: ;

}

.right-categories {
    display: inline-block;
    margin-left: 15px;
}









/* FOOTER MIDDLE COLUMN*/

.footer-middlecolumn {
    width: 188px;
    height: 316px;
    display: inline-block;
    margin-left: 100px; 
}

.connect-with-mobber {
    color: white;
    text-shadow: rgb(36, 34, 30) 0 2px;
    font-size: 19px;
    margin-top: 30px;
}

.be-the-first {
    color: white;
    font-size: 12px;
    margin-top: 20px;
    text-shadow: rgb(36, 34, 30) 0 2px; 
}

.email-box {
    margin-top: 20px;
}


.facebook {
    border-bottom: 1px solid rgb(49,49,49);
}

.facebook-icon {
    display: inline-block;
    margin-top: 14px;
}

.facebook-note {
    color: white;
    display: inline-block;
    font-size: 13px;
}

.twitter {
    border-bottom: 1px solid rgb(49,49,49);
    margin-top: -3px;
}

.twitter-icon {
    display: inline-block;
    margin-top: 14px;
    margin-left: -2px;
}

.twitter-note {
    color: white;
    display: inline-block;
    font-size: 13px;
}

.google {
    margin-top: -3px;
}

.google-icon {
    display: inline-block;
    margin-top: 14px;
}

.google-note {
    color: white;
    display: inline-block;
    font-size: 13px;
}















/* FOOTER RIGHT COLUMN*/

.footer-rightcolumn {
    width: 303px;
    height: 277px;
    display: inline-block;
    margin-left: 58px;
}

.howitworks {
        color: white;
        margin-top: 30px;
        border: 1px rgb(185,129,0);
        font-size: 22px;
        text-align: center;
        position: relative;
        height: 60px;
        line-height: 60px;
        border-radius: 4px;
        box-shadow: inset 0 1px 1px white;
        text-shadow: rgb();
        border: 1px solid rgb(218, 150, 21);

        background: #fed800; /* Old browsers */
        background: -moz-linear-gradient(top,  #fed800 0%, #e49600 100%, #e49600 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fed800), color-stop(100%,#e49600), color-stop(100%,#e49600)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #fed800 0%,#e49600 100%,#e49600 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #fed800 0%,#e49600 100%,#e49600 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #fed800 0%,#e49600 100%,#e49600 100%); /* IE10+ */
        background: linear-gradient(to bottom,  #fed800 0%,#e49600 100%,#e49600 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fed800', endColorstr='#e49600',GradientType=0 ); /* IE6-9 */
}

.have-a-problem {
    color: white;
    text-shadow: rgb(36, 34, 30) 0 2px;
    font-size: 19px;
    margin-top: 25px;
}

.feelfree {
    color: white;
    font-size: 12px;
    margin-top: 20px; 
    padding-bottom: 5px;
    text-shadow: rgb(36, 34, 30) 0 2px;
}

.copyright {
    color: white;
    font-size: 14px;
    border-top: 1px solid rgb(49,49,49); 
    margin-top: 34px;
    padding-top: 5px;
    text-shadow: rgb(36, 34, 30) 0 2px;
}



