body * {
	vertical-align: top;
}

body {
	padding: 0;
	margin: 0;
	font-family: 'Didact Gothic', sans-serif; 
}

.container {
        margin: 0 auto;
        width: 960px;
}

/*
Header
*/

.header {
        margin: 0 auto;
        background: url("Sliceheader.png") repeat-x top left;
        height: 80px;          
}

.header img {
	height: 34px;
	margin: 2px auto;
}

.links {    
    color: white;
    list-style-type: none;
    display: inline-block;
    margin-top: 7px;
}

.links li {
	display: inline-block;
	margin-left: 20px;
}

.brucepic{
	border-radius: 50px;

}

span {
	color: white;
}



/*
TAGLINE
*/


.tagline {
        margin: 0 auto;
        background-color: white;
        height: 80px;
}

h2 {
        font-size: 28px;
        color: rgb(50,50,50);
}

/*JOIN MOB*/


























.MAINtanbackground {
        background: rgb(239,236,231);
        height: 500px;
}

.tanbackground {
        margin: 0;
        background: rgb(239,236,231);
        height: 500px;
        width: 940px;
        margin: 0 auto;
}

.u2picture {
        width: 360;
        height: 540;
        overflow: hidden;
        margin: 0;
                width: 612px;

}

.banner {
	color: black;
	width: 360;
	height: 90px;
	margin: 0;
		width: 612px;
}














.mainbackground2 {
        margin: 0;
        baackground: white;
        height: 500px;
}

.footer {
        margin: 0;
        background-color: rgb(66,66,64);
        height: 300px;
}




